@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

body,
html {
    margin: 0;
    top: 0;
}

body {
    margin-bottom: 10vh;
}

body {
    background-image: url('./bukken_logo.png');
    
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top 80vh left 90vh;
}

#header {

    margin: 0px;
    height: 40%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0%;
    background: linear-gradient(to bottom, transparent 0%, transparent 30%, #fff 100%), url(./big_poster_ch.png);
    background-position: 0 75%;
}

#header h1 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 6em;
}

p {
    margin: 0;
}

#main_contents {
    margin: 0 5vw;
}

#introduce {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    
}

#intro_sentence{
    font-size: large;
    background-color: rgba(255, 255, 255, 0.562);
}

#game_img {}

#topic_container {
    background-color: rgb(255, 192, 167);
    margin: 2%;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background: none;
    display: flex;
    justify-content: flex-end;
}


footer a {
    font: inherit;
    text-decoration: inherit;
    padding-block: 1px;
    line-height: 2;
    width: 20%;
    background: #ff701e;
    border: 2px solid #ff701e;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #fff;
    display: block;
    font-weight: bold;
    max-width: 20%;
    padding: 0;
    text-align: center;
}

#page_name{
    font-family: 'M PLUS 1p', sans-serif;
    margin-left: 8px;
}

.topic {
    border-bottom: 1px solid #000;
    font-size: large;
}

.weak {
    color: gray;
    font-size: small;
}