body {
    min-height: 100vh;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
}


ul {

    list-style: none;
}

#works {
    margin: 2% 3% auto 3%;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: azure;
    border-radius: 20px;
    width: 80%;
}



#works li {
    background-color: cadetblue;
    margin: 0 auto auto 0;
    padding: 0.4em;
    border-width: 4px;
    width: 60%;
    height: 3em;
    border-color: black;
}

#works li:hover {
    background-color: rgb(141, 235, 238);
    width: 70%;
    height: 12em;
    margin-bottom: 0em;
    transition: 0.4s 0s all;
    transition-timing-function: ease-in;
}

#works li a {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}

#works li div {
    background-color: white;
}

#works li div {
    display: none;
    height: 0px;
}

#works li:hover div {
    display: block;
    height: 8em;
}

#works li {
    margin: 0em auto 9em 0;

}

#pager {
    background-color: darkcyan;
    width: 15%;
    padding: 0 2em 0 2em;
    min-height: 100vh;
}

#pager ul {
    background-color: azure;
    border-radius: 10px;
    margin-top: 10%;

}