body {
    min-height: 100vh;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
}

#grades {
    margin: 2% 3% auto 3%;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: azure;
    border-radius: 20px;
    width: 80%;
}

#grades li {
    background-color: cadetblue;
    margin: 0 auto auto 0;
    padding: 0.4em;
    border-width: 4px;
    width: 60%;
    height: 3em;
    border-color: black;

}

#grades li:hover {
    background-color: rgb(141, 235, 238);

    height: 12em;
    margin-bottom: 0em;
    transition: 0.2s 0s all;
    transition-timing-function: ease-in;
}

#grades li a {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}

#grades li div {
    background-color: white;
    display: none;
    height: 8em;
    position: relative;
}

#grades li div a {
    position: absolute;
    right: 0;
    top: 0;
    height: 8em;
    width: 30%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(49, 170, 226, 0.9) 50%);
    background-position: 3px 0;
    background-size: 200% auto;
    transition: .3s;
}

#grades li div a p {
    font-size: larger;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
    color: #000;
}

#grades li div a:hover {
    background-position: -100% 0;
}

#grades li div a:hover p {
    color: #fff;
}

#grades li {
    margin: 0em auto 9em 0;
}

.moving_img {
    z-index: 1;
    position: absolute;
    top: 40%;
}

#pager {
    background-color: darkcyan;
    width: 15%;
    padding: 0 2em 0 2em;
    min-height: 100vh;
    z-index: 2;
}

#pager ul {
    background-color: azure;
    border-radius: 10px;
    margin-top: 10%;

}